# Python (Virtual Enviroments)
venv/
.venv/
*/venv/
*/.venv/
**/venv/
**/.venv/
env/
bin/
lib/
include/
__pycache__/
*.pyc
**/__pycache__/
**/*.pyc
**/site-packages/

# IDEs and Editors
.vscode/
.idea/
.DS_Store (Mac)
Thumbs.db (Windows)

# Kubernetes & Docker
.kube/
*.log
.env